body{
background-color:whitesmoke
font-family: "Courier Prime", serif;
font-weight: 400;
font-style: normal;
}

.weatherapp{
    background-color: whitesmoke;
    max-width: 600px;
    margin : 30px auto;
    padding:30px;
    box-shadow: 0 30px 50px rgba(65,50,100,0.80);
    border-radius: 10px;
}
.search-input{
background-color: rgb(245, 245, 245);
border: none;
border-radius: 10px;
width:80%;
padding :20px;
}